$section-padding: 7rem 0;
$background-color: linear-gradient(135deg, #8800ff, #004268);
$text-color: #fff;
$font-family-rajdhani: 'Rajdhani', sans-serif;
$font-family-orbitron: 'Orbitron', sans-serif;
$button-background: linear-gradient(135deg, #8800ff, #00d9ff);
$box-shadow: 0 0 15px rgba(187, 0, 255, 0.8);

.asesoria-section {
    padding: $section-padding;
    background: $background-color;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .container {
        max-width: 600px;
        color: $text-color;
        text-align: center;

        h2{
            margin-bottom: 2rem;
        }

        p {
            font-family: $font-family-rajdhani;
            font-size: 1.8rem;
            color: $text-color;
            margin-bottom: 4rem;
        }

        .asesoria-btn {
            width: 18rem ;
            padding: 1rem;
            font-size: 1.4rem !important;
            font-family: orbitron;
            color: #fff;
            background: linear-gradient(135deg, #8800ff, #00d9ff);
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: all 0.3s ease;
            margin-top: 1rem;
            box-shadow: 0 0 15px rgba(187, 0, 255, 0.8);
        }
    }
}
