/* Header section styles */
.header-section {
    background: linear-gradient(135deg, #0a0f29 0%, #020510 100%);
    color: #fff;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    transition: background 0.5s ease;
}

.header-section.burning {
    background: linear-gradient(135deg, #3d0c0c 0%, #5d0000 100%);
}


.description-box {
    background-color: rgba(15, 15, 40, 0.9);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 217, 255, 0.5);
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.description-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 30px rgba(0, 217, 255, 0.9);
}

.description-header .neon-title {
    font-size: 1.8rem;
    color: #00d9ff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 15px;
    text-shadow: 0 0 10px rgba(0, 217, 255, 0.8);
}

.description-content {
    font-size: 1.5rem;
    line-height: 1.6;
}

.highlight {
    color: #00d9ff;
    font-weight: bold;

    a{
        color: #00d9ff;
        font-weight: bold;
    }
}

.description-content p {
    margin: 10px 0;
}



/* Draggable sphere with bouncing animation */
.draggable-sphere {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #00d9ff;
    cursor: move;
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 2;
    animation: bounce 2s infinite; /* Bounce animation */
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

// /* Drop zone with hover effect */
// .drop-zone {
//     width: 100px;
//     height: 100px;
//     border: 2px dashed #00d9ff;
//     background-color: rgba(0, 0, 0, 0.3);
//     position: absolute;
//     top: 10px;
//     right: 10px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     z-index: 2;
//     transition: background-color 0.3s ease;
// }

// .drop-zone:hover {
//     background-color: rgba(0, 0, 0, 0.5);
// }

.title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  overflow: hidden;
  padding: 20px;
}

.animated-title {
  position: relative;
  font-size: 1.9rem; /* Ajusta el tamaño según tu preferencia */
  padding: 10px;
  border-radius: 12px;
  text-transform: uppercase;
  font-family: rajdhani;
  border: 1px solid; /* Solo tendrá borde */
  animation: slideUp 0.5s ease-in-out;
  width: auto;
  margin: 1rem 0;
}


.animated-title:nth-child(1) {
  border-color: #00DAA6;
  box-shadow: 0 0 15px #00DAA6, 0 0 30px #00DAA6;
}
.animated-title:nth-child(2) {
  border-color: #421466;
  box-shadow: 0 0 15px #421466, 0 0 30px #421466;
}
.animated-title:nth-child(3) {
  border-color: #a1a1a1;
  box-shadow: 0 0 15px #a1a1a1, 0 0 30px #a1a1a1;
}
.animated-title:nth-child(4) {
  border-color: #00d9ff;
  box-shadow: 0 0 15px #00d9ff, 0 0 30px #00d9ff;
}

.animated-title:nth-child(5) {
  border-color: #a1a1a1;
  box-shadow: 0 0 15px #a1a1a1, 0 0 30px #a1a1a1;
}

.animated-title:nth-child(5):hover {
  background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
  color: #00d9ff;
  cursor: pointer;
}


/* Efecto de brillo */
@keyframes glow {
  from {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  }
  to {
      box-shadow: 0 0 25px rgba(255, 255, 255, 1), 0 0 50px rgba(255, 255, 255, 1);
  }
}

/* Animación de subida */
@keyframes slideUp {
  from {
      transform: translateY(50%);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}
