/* Header section styles */
.header-section {
    background: linear-gradient(135deg, #0a0f29 0%, #020510 100%);
    color: #fff;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    transition: background 0.5s ease;
}

.header-section.burning {
    background: linear-gradient(135deg, #3d0c0c 0%, #5d0000 100%);
}


.description-box {
    background-color: rgba(15, 15, 40, 0.9);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 217, 255, 0.5);
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.description-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 30px rgba(0, 217, 255, 0.9);
}

.description-header .neon-title {
    font-size: 1.8rem;
    color: #00d9ff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 15px;
    text-shadow: 0 0 10px rgba(0, 217, 255, 0.8);
}

.description-content {
    font-size: 1.5rem;
    line-height: 1.6;
}

.highlight {
    color: #00d9ff;
    font-weight: bold;

    a{
        color: #00d9ff;
        font-weight: bold;
    }
}

.description-content p {
    margin: 10px 0;
}



/* Draggable sphere with bouncing animation */
.draggable-sphere {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #00d9ff;
    cursor: move;
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 2;
    animation: bounce 2s infinite; /* Bounce animation */
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

/* Drop zone with hover effect */
.drop-zone {
    width: 100px;
    height: 100px;
    border: 2px dashed #00d9ff;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    transition: background-color 0.3s ease;
}

.drop-zone:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
