.navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    background: #08101F;
    padding: 0 1.5rem;

    nav {
        border-radius: 50px;
        background: rgba(255, 255, 255, 0.20);
        width: 809px;
        height: 48px;
        flex-shrink: 0;
.navbar-nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
        .nav-link{
            color: #FFF;
            font-family: orbitron;
            font-size: 1.6rem;
        }
    }

    .redes{
        display: flex;
        justify-content: center;
        align-items: center;

        a{
            margin: 0 1rem;
        }
    }
}