.navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    background: #08101F;
    padding: 0 2rem;
    box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1111;


    nav {
        border-radius: 50px;
        background: rgba(255, 255, 255, 0.15);
        width: 809px;
        height: 48px;
        flex-shrink: 0;
        box-shadow: 0 0 15px rgba(0, 217, 255, 0.5);
        backdrop-filter: blur(10px);
        border: 1px solid rgba(0, 217, 255, 0.2);

        .navbar-nav {
            width: 100%;
            display: flex;
            justify-content: space-around;
        }

        .nav-link {
            color: #FFF;
            font-family: 'Orbitron', sans-serif;
            font-size: 1.4rem;
            position: relative;
            transition: all 0.3s ease;
            padding: 0 1rem;
        }

        .nav-link::before {
            content: '';
            position: absolute;
            bottom: -5px;
            left: 50%;
            width: 0;
            height: 2px;
            background-color: #ff00ff;
            transition: all 0.3s ease;
        }

        .nav-link:hover::before {
            left: 0;
            width: 100%;
        }

        .nav-link:hover {
            color: #ff00ff;
            text-shadow: 0 0 10px rgba(255, 0, 255, 0.7);
        }
    }

    .redes {
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            margin: 0 1rem;
            transition: transform 0.3s ease;

            img {
                width: 2rem;
                height: 2rem;
            }

            &:hover {
                transform: scale(1.2);
            }
        }
    }


}

@media (max-width: 1000px) {
    .navegacion {
        justify-content: space-between;
    }

    .navbar {
        border: none !important;
        border-radius: 0 !important;
        width: 100% !important;
        background: transparent !important;
        flex-shrink: 0;
        box-shadow: none !important;
        backdrop-filter: none !important;
        padding-right: 2rem !important;

        .navbar-nav {
            justify-content: end !important;

        }
    }

    /* Alinear el botón hamburguesa a la derecha */
    .navbar-toggler {
        margin-left: auto;
    }
}
