
/* CALL ACTION PROJECTS */
.portfolio-preview{
  padding-top: 5rem;
  padding-bottom: 8rem;
  background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);;

  h2{
    margin-bottom: 2rem;
  }
}

.slick-dots{
  button{
   background: #00d9ff !important;   
   border-radius: 10px;
  }
 li {
    button {
      &::before {
        color: #00d9ff !important;   // Color del punto
        opacity: 1;       // Asegúrate de que tenga opacidad completa
      }
    }
  }
}

.slider-proyects{
  padding: 2rem 0;
}

.grid-item {
  padding: 0.2rem;
  height: 24rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  height: 100%;
  position: relative;
  overflow: hidden;

  img {
    height: 100%;
    object-fit: contain;
  }
}

.project-image {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.image-container:hover .project-image {
  transform: scale(1.05);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container:hover .overlay {
  opacity: 1;
}

.project-title {
  color: white;
  font-size: 3rem;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  transform: translateY(20px);
  font-family: orbitron;
}

.image-container:hover .project-title {
  opacity: 1;
  transform: translateY(0);
}

.view-portfolio {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100% !important;
  cursor: pointer;
}

.view-portfolio h3 {
  color: white;
  font-size: 3rem;
  text-align: center;
  transition: color 0.3s ease-in-out;
  font-family: orbitron;
}

.view-portfolio:hover h3 {
  color: #00d9ff;
}


// PROYECTOS PARALAX

.proyecto-description {
  width: 50%;
  border-radius: 3rem;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 1s forwards;
  background-color: #24243ed8;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.proyecto-parallax {
  width: 100%;
  height: 60rem;
  background-size: contain !important;

}


.proyecto-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 600px;
  background: rgba(0, 0, 0, 0.638);
  color: #fff;
  text-align: center;
  padding: 20px;
  position: relative;

}

.proyecto-content h3 {
  font-size: 32px;
  margin-bottom: 10px;
}

.proyecto-content p {
  font-size: 18px;
  margin-bottom: 20px;
}


.proyecto-skills img {
  width: 40px;
  margin: 0 10px;
}

/* Estilo inicial para el video, empieza pequeño */
.video-container {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 200px;
  height: 120px;
  overflow: hidden;
  border-radius: 10px;
  transition: width 1s ease, height 1s ease, bottom 1s ease;
}

.proyecto-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Cuando el usuario baja, agranda el video */
.proyecto-parallax:hover .video-container {
  width: 40%;
  height: 80%;
  bottom: 20px;
  right: 20px;
}


// PORTFOLIO INTRO

/* Estilo para la pantalla de presentación (100vh) */
.portfolio-intro {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #0a0f29 0%, #020510 100%);
  color: #fff;
  text-align: center;
}


.intro-content h1 {
  font-size: 48px;
  margin-bottom: 2rem;
}

.intro-content p {
  font-size: 18px;
  margin-bottom: 4rem;
}

.scroll-icon {
  cursor: pointer;
  animation: bounce 2s infinite;
  /* Animación para la flecha */
}

.scroll-icon {
  display: block;
  position: absolute;
  margin: 0 auto;
  /* Centra la imagen */
  width: 50px;
  /* Ajusta el tamaño según sea necesario */
  animation: bounce 2s infinite ease-in-out;
  bottom: 20px;
  right: 50%;
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
    /* Posición inicial */
  }

  50% {
    transform: translateY(-20px);
    /* Mueve la imagen 20px hacia arriba */
  }
}


.scroll-icon img {
  width: 50px;
  height: 50px;
  display: block;
  margin: 0 auto;
}

/* Animación para la flecha de scroll */
@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}

/* Asegúrate de que la sección de proyectos se vea bien */
.proyectos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}




/* Para ajustar la descripción en pantallas más pequeñas */
@media (max-width: 768px) {
  .proyecto-description {
    width: 90%;
    /* Reducir el tamaño de la descripción en pantallas pequeñas */
  }


}