* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    height: 100% !important;
}


    h1{
        font-family: orbitron;
        font-size: 3rem;
        color: white;
    }
    
    h2{
        font-family: 'Orbitron', sans-serif;
        font-size: 3rem !important;
        text-align: center;
        margin-bottom: 1.5rem;
        color: #00d9ff !important;
        text-shadow: 0 0 10px #00DAA6 !important;
    }
    
    p{
        color: white;
    }
    
    a{
        color: white;
        text-decoration: none !important;
    }


@font-face {
    font-family: "orbitron";
    src: url(/public/fonts/Orbitron-Medium.ttf);
    font-display: swap;
}

@font-face {
    font-family: "start";
    src: url(/public/fonts/PressStart2P-Regular.ttf);
    font-display: swap;
}


main{
    background: #08101F;
}

.fondo-main{
    background: #08101F;
}

