/* Estilo para la cuadrícula de servicios */
#servicios{
  padding-top: 10rem;
}
.servicios-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Estilo para cada servicio */
.servicio {
  display: flex;
  width: 100%;
  height: 35rem;
  padding: 2rem 0;
}

/* Estilo para la imagen del servicio */
.imagen {
width: 30%;
height: 100%;

}

.imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

/* Estilo para los detalles del servicio */
.detalle {
 width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 2rem;
}

.detalle h2 {
  margin: 0;
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: white;
  text-align: left;
}

.detalle p {
  margin: 0;
  font-size: 1.6rem;
  color: white;
  width: 85%;
  line-height: 2.7rem;
}

/* Estilo para la franja horizontal futurista */
.futuristic-divider {
  width: 100%;
  height: 4px; /* Altura de la franja */
  background: linear-gradient(90deg, #ff00ff, #00ffff); /* Gradiente futurista */
  margin: 3rem 0;
  position: relative;
  overflow: hidden;
}

/* Animación de la franja futurista */
.futuristic-divider::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 200%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5), transparent);
  animation: slide 2s linear infinite;
}

/* Animación para la franja futurista */
@keyframes slide {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}
