.servicios-t-container {
  width: 100%;
  height: 50px;
  /* Ajusta según sea necesario */
  width: 100%;
  /* Ajusta el ancho al contenedor padre */
  overflow: hidden;
  /* Oculta el contenido que se sale del contenedor */
}

.servicios-slider {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  animation: scroll 15s linear infinite;
}

.servicios-slider-about {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  /* Evita el salto de línea */
  animation: scroll 10s steps(4) infinite;
  /* Desplaza cada bloque de texto con pausas */
}


.servicio-t {
  padding: 0 15px;
  margin: 0 3rem;
  font-size: 1.5rem;
  color: #ffffff;
  font-family: start;
  padding: 0 20px;
  white-space: nowrap;
}



@keyframes scroll {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}



// #SERVICIOS DETAIL 

#servicios {
  padding-top: 10rem;
  background: linear-gradient(135deg, #0a0f29 0%, #020510 100%);

}

.servicios-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Estilo para cada servicio */
.servicio {
  display: flex;
  width: 100%;
  height: 35rem;
  padding: 2rem 0;
}

/* Estilo para la imagen del servicio */
.imagen {
  width: 30%;
  height: 100%;

}

.imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

/* Estilo para los detalles del servicio */
.detalle {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 2rem;
}

.detalle h2 {
  margin: 0;
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: white;
  text-align: left;
}

.detalle p {
  margin: 0;
  font-size: 1.6rem;
  color: white;
  width: 85%;
  line-height: 2.7rem;
}

/* Estilo para la franja horizontal futurista */
.futuristic-divider {
  width: 100%;
  height: 4px;
  /* Altura de la franja */
  background: linear-gradient(135deg, #8800ff, #00d9ff);
  margin: 3rem 0;
  position: relative;
  overflow: hidden;
}

/* Animación de la franja futurista */
.futuristic-divider::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 200%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5), transparent);
  animation: slide 2s linear infinite;
}

/* Animación para la franja futurista */
@keyframes slide {
  0% {
    left: -100%;
  }

  100% {
    left: 100%;
  }
}

.detalle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;

}

.hidde-span, .leer-menos{
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

@media (max-width: 1000px) {

  .servicio {
    width: 100%;
    height: auto;
    padding: 0 0;
    justify-content: center !important;
    align-items: center !important;

    .imagen {
      width: 100%;
      height: 25rem;

    }

    p{
      width: 100%; 
      

    }      
    
    h2{
      padding: 0 !important;
      width: 100% !important;
    }
  }

   
  }





@media (max-width: 900px) {
 
  .hidde-span {
    display: inherit !important;
    color: #00d9ff;
    font-size: 1.4rem;
    background: none;
    border: none;
    box-shadow: none;
  }

}

@media (max-width: 767px) {

  .servicio{
    h2{
      font-size: 2.2rem !important;
      
    }

    p{
      font-size: 1.4rem !important;
    }
  }
}

.hidde-span{
  display: none;
}

